@import "./src/scss/variables";

.messages-text-field-container {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  $border-radius: 15px;

  form {
    display: flex;
    align-items: row;
    margin: 15px 0;
    position: fixed;
    bottom: 0;
    width: 50%;
    input {
      line-height: 1.2em;
      font-size: 1.2em;
      border: 0;
      padding: 10px;
      width: 85%;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      box-shadow: $button-shadow;
    }
    .submit {
      line-height: 1.2em;
      font-size: 1.2em;
      color: $light-text-color;
      width: 11%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      box-shadow: $button-shadow;
      @include button-background(210deg);
    }
    .upload-container {
      text-align: center;
      padding: 10px 0;
      width: 2.4em;
      line-height: 1.2em;
      font-size: 1.2em;
      color: $light-text-color;
      border-radius: 100%;
      margin: 0 5px;
      @include button-background(100deg);
      box-shadow: $button-shadow;
      cursor: pointer;

      input {
        display: none;
      }
    }

    .preview-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      bottom: 0;
      right: 10%;
      height: 300px;
      border: 0;
      width: calc(85% - 3.3em);
      border-radius: $border-radius $border-radius 0 $border-radius;
      box-shadow: $button-shadow;
      @include picture-message-background();

      &.image {
        img {
          box-shadow: $button-shadow;
          margin: 10px;
          border-radius: $border-radius;
          max-width: 80%;
          max-height: 280px;
        }
      }

      &.document {
        fa-icon {
          color: $light-text-color;
          font-size: 7em;
        }
        .document-name {
          font-family: $font;
          color: $light-text-color;
          font-size: 2em;
          text-shadow: 2px 2px 4px #000;
        }
      }

      .close {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        font-size: 3em;
        position: absolute;
        top: 5px;
        right: 20px;
        color: rgb(255, 0, 0);
      }
    }
  }
  @media screen and (max-width: $media-breakpoint-medium) {
    form {
      width: 80%;
    }
  }

  @media screen and (max-width: $media-breakpoint-small) {
    form {
      width: 95%;

      input {
        width: 70%;
      }

      .upload-container {
        width: 18%;
        margin: 0 2px;
      }

      .submit {
        min-width: 3em;
      }

      .preview-container {
        right: 17%;
        height: 200px;
        width: 83%;

        &.image {
          img {
            max-width: 80%;
            max-height: 180px;
          }
        }

        &.document {
          fa-icon {
            font-size: 4em;
          }
          .document-name {
            font-size: 1em;
          }
        }

        .close {
          right: 5px;
        }
      }
    }
  }
}
