@import "./src/scss/variables";

.messages-parent {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.messages-container {
  padding-top: 20px;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(95vh - 3.2em);
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
  }

  .messages li {
    font-family: $font;
    width: 100%;
    height: auto;
    .message-container {
      margin: 10px;
      max-width: 30vw;
      display: flex;
      flex-flow: row;

      &.left {
        float: left;

        .document,
        .message,
        .picture {
          background-color: $message-background-color-receiver;
        }
      }

      &.right {
        float: right;
        .document,
        .message,
        .picture {
          background-color: $message-background-color-sender;
        }
      }

      &.center {
        text-align: center;
        display: table;
        margin: 10px auto;

        .message {
          background-color: $message-background-color-status;
        }
      }

      .user-icon {
        $icon-size: 2em;
        background: $user-icon-color;
        padding: 5px;
        margin: 10px;
        width: $icon-size;
        height: $icon-size;
        border-radius: $icon-size;
        box-shadow: $button-shadow;
        img {
          width: $icon-size;
          height: $icon-size;
        }
      }

      .message {
        min-height: 1.4em;
        border-radius: 10px;
        padding: 5px 10px;
        box-shadow: $button-shadow;
        text-align: center;
      }

      .picture {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        min-height: 1.4em;
        border-radius: 10px;
        padding: 5px 5px;
        box-shadow: $button-shadow;

        img {
          border-radius: 10px;
          max-height: 400px;
          max-width: 90%;
        }
      }

      .document {
        height: 2em;
        font-size: 1.6em;
        border-radius: 10px;
        padding: 5px 5px;
        box-shadow: $button-shadow;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          display: flex;
          flex-flow: row;
          .doc-icon {
            @include download-button-background();
            width: 1.7em;
            height: 1.7em;
            border-radius: 2em;
            line-height: 1.7em;
            text-align: center;
            margin: 0 5px;
            color: $light-text-color;
          }
          .file-name {
            height: 1.7em;
            line-height: 1.7em;
            margin-right: 10px;
          }
        }
      }
    }

    .back-to-start {
      margin: 30px 0;
      max-width: 20vw;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      @include button-background(320deg);
      @include button-style();
    }
  }
}

@media screen and (max-width: $media-breakpoint-medium) {
  .messages-container {
    width: 80%;
  }
}

@media screen and (max-width: $media-breakpoint-small) {
  .messages-container {
    width: 95%;
  }
}
