<div class="messages-parent">
  <div #scroll class="messages-container">
    <ul class="messages">
      <li *ngFor="let item of messageList">
        <div
          class="message-container"
          [ngClass]="{
            left: item.type == 'receiver',
            right: item.type == 'sender',
            center: item.type == 'status'
          }"
        >
          <div class="user-icon" *ngIf="item.type == 'receiver'">
            <img src="/assets/usericons/{{ item.userName }}.svg" />
          </div>
          <div *ngIf="item.contentType == 'Text'" class="message">
            {{ item.message }}
          </div>
          <div *ngIf="item.contentType == 'Picture'" class="picture">
            <img [src]="item.base64Data" />
          </div>
          <div *ngIf="item.contentType == 'Document'" class="document">
            <span
              ><div
                (click)="downloadFileFromId(item.messageId)"
                class="doc-icon"
              >
                <fa-icon [icon]="faDownload"></fa-icon>
              </div>
              <div class="file-name">
                {{ item.message }}
              </div>
            </span>
          </div>
          <div class="user-icon" *ngIf="item.type == 'sender'">
            <img src="/assets/usericons/{{ item.userName }}.svg" />
          </div>
        </div>
      </li>
      <li *ngIf="reconnectError">
        <div class="back-to-start">
          <a href="/"><button>Back to Start</button></a>
        </div>
      </li>
    </ul>
  </div>
</div>
