$light-text-color: rgb(238, 238, 238);

$dark-text-color: #000;

$accent1: #000850;

$accent2: #ff6928;

$accent3: rgb(153, 0, 224);

$font: "Dosis", sans-serif;

$user-icon-color: linear-gradient(40.27deg, #00ffa3 0%, #9595ff 100%);

@mixin button-background($angle) {
  background: linear-gradient($angle, #ff0055 0%, #00294f 90%);
}

$input-field1-color: #005fb8;
$input-field2-color: #0069cc;
$input-field3-color: #0074e0;
$input-field4-color: #007ef5;

$button-shadow: 4px 4px 5px #000;

$message-background-color-sender: rgb(177, 255, 190);
$message-background-color-receiver: rgb(253, 255, 224);
$message-background-color-status: rgb(103, 212, 255);

@mixin download-button-background() {
  background: linear-gradient(238.72deg, #0044a9 0%, #f700a3 100%),
    radial-gradient(100% 188.01% at 76.14% 0%, #43ddff 0%, #ff0000 100%),
    linear-gradient(0deg, #db00ff 0%, #14ff00 100%),
    radial-gradient(59.2% 100% at 50% 100%, #6a00d5 0%, #00e0ff 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ff9900 0%, #001aff 100%);
  background-blend-mode: hard-light, overlay, color-burn, color-burn, normal;
}

@mixin picture-message-background() {
  background: radial-gradient(100% 225% at 100% 0%, #120037 0%, #000000 100%),
    linear-gradient(35deg, #c0ffc7 0%, #17001f 75%),
    linear-gradient(55deg, #2400ff 0%, #000000 100%),
    linear-gradient(
      90deg,
      #ffe037 0%,
      #ffe037 40%,
      #1dcd9f 40%,
      #1dcd9f 50%,
      #088c6f 50%,
      #088c6f 70%,
      #23033c 70%,
      #23033c 100%
    ),
    linear-gradient(
      180deg,
      #ff8fe5 0%,
      #ff8fe5 45%,
      #fbff64 45%,
      #fbff64 60%,
      #76e3ff 60%,
      #76e3ff 80%,
      #6eb6e7 80%,
      #6eb6e7 100%
    );
  background-blend-mode: screen, overlay, overlay, darken, normal;
}

@mixin background() {
  background-image: linear-gradient(45deg, #000850 0%, #000320 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #000000 100%),
    linear-gradient(225deg, #ff7a00 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 10%,
      #cdffeb 35%,
      #009f9d 35%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #0f0a3c 67%,
      #0f0a3c 100%
    );
  background-blend-mode: screen, overlay, hard-light, normal;
}

@mixin button-style() {
  box-shadow: $button-shadow;
  border: 0;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 20px;
  color: $light-text-color;
}

$media-breakpoint-medium: 1000px;
$media-breakpoint-small: 650px;
